In [3]:
#Dependencies
import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine

**----------------------------------------------------------------------------------------------------**
# Extract and Clean Data
**----------------------------------------------------------------------------------------------------**

## 2016 Primary Results by County
### Code by Lindsey Hoffman
 CSV provided by:
     https://www.kaggle.com/benhamner/2016-us-election

In [4]:
#Store cvs file path in a variable
csv_e2016 = "Resources/primary_results.csv"

#Read CSV into a Pandas dataframe
E2016_df = pd.read_csv(csv_e2016)

#Edit df to include only state, county, party and votes columns
primary2016_df = E2016_df[['state','county','party','votes']].copy()
primary2016_df = primary2016_df.rename(columns={'county':'ga_county'})

#Edit df to only include GA counties
GA2016_df = primary2016_df.loc[(primary2016_df['state']=="Georgia")]

#Set up separate dfs for each party
REP_2016_df = GA2016_df.loc[(GA2016_df['party'] == 'Republican')]
DEM_2016_df = GA2016_df.loc[(GA2016_df['party'] == 'Democrat')]

#Merge dfs to create 1 with both party data
Party_2016_df = pd.merge(REP_2016_df, DEM_2016_df, how = 'outer', on='ga_county')

#Remove unnecessary and rename resulting columns
Party_2016_df = Party_2016_df[['ga_county', 'party_x', 'votes_x', 'party_y', 'votes_y']]
Party_2016_df = Party_2016_df.rename(columns = {'party_x': 'party', 'votes_x':'republican_votes', 'party_y':'party_', 'votes_y':'democrat_votes'})

#Remove "county" and make all capital to match Race data tables
Party_2016_df['ga_county'] = Party_2016_df['ga_county'].str.split(" ",expand = True)
Party_2016_df['ga_county'] = Party_2016_df['ga_county'].str.upper()

##Party_2016_df includes columns indicating party, as well as rows for each (possibly) precint within a county

#Aggregate County Data - total votes per party per county
county_counts = Party_2016_df.groupby(['ga_county'])
county_counts_df = county_counts.sum()

#Add column to show total votes for each county
county_counts_df['total_votes'] = county_counts_df['republican_votes'] + county_counts_df['democrat_votes']
county_counts_df

           republican_votes  democrat_votes  total_votes
ga_county
APPLING                6106            3160         9266
ATKINSON               1868            1250         3118
BACON                  3316             855         4171
BAKER                   848            1755         2603
BALDWIN                8888           18980        27868
...                     ...             ...          ...
WHITFIELD             25196           14215        39411
WILCOX                 2150            1715         3865
WILKES                 2976            4215         7191
WILKINSON              2518            4935         7453
WORTH                  6718            4250        10968

[159 rows x 3 columns]

## 2020 Election Results by County
### Code by Lindsey Hoffman
CSV provided by:
    https://www.kaggle.com/unanimad/us-election-2020

In [5]:
#Store cvs file path in a variable
csv_e2020 = "Resources/president_county_candidate.csv"

#Read CSV into a Pandas dataframe
E2020_df = pd.read_csv(csv_e2020)

#Edit df to rename columns
E2020_df = E2020_df.rename(columns={'county':'ga_county'})

#Edit to only include GA counties
GA2020_df = E2020_df.loc[(E2020_df['state']=="Georgia")]

#Create new dfs to show only Democrat and Republican party results
GA_REP_df = GA2020_df.loc[(GA2020_df['party'] == 'REP')]
GA_DEM_df = GA2020_df.loc[(GA2020_df['party'] == 'DEM')]

#Merge DEM/REP Dataframes
GA_2020_df = pd.merge(GA_REP_df, GA_DEM_df, how='outer', on='ga_county')

#Remove and rename resulting columns
GA_party_df = GA_2020_df[['ga_county', 'candidate_x', 'total_votes_x', 'candidate_y', 'total_votes_y']]
GA_party_df = GA_party_df.rename(columns = {'candidate_x': 'republican', 'total_votes_x':'rep_votes', 'candidate_y':'democrat', 'total_votes_y':'dem_votes'})

#Add column with total votes for each county
GA_party_df['total_votes'] = GA_party_df['rep_votes'] + GA_party_df['dem_votes']

#Remove "county" and make all capital to match Race data tables
GA_party_df['ga_county'] = GA_party_df['ga_county'].str.split(" ",expand = True)
GA_party_df['ga_county'] = GA_party_df['ga_county'].str.upper()
GA_party_df

     ga_county    republican  rep_votes   democrat  dem_votes  total_votes
0      APPLING  Donald Trump       6526  Joe Biden       1779         8305
1     ATKINSON  Donald Trump       2300  Joe Biden        825         3125
2        BACON  Donald Trump       4018  Joe Biden        625         4643
3        BAKER  Donald Trump        897  Joe Biden        652         1549
4      BALDWIN  Donald Trump       8903  Joe Biden       9140        18043
..         ...           ...        ...        ...        ...          ...
154  WHITFIELD  Donald Trump      25636  Joe Biden      10670        36306
155     WILCOX  Donald Trump       2403  Joe Biden        862         3265
156     WILKES  Donald Trump       2823  Joe Biden       2160         4983
157  WILKINSON  Donald Trump       2664  Joe Biden       2075         4739
158      WORTH  Donald Trump       6830  Joe Biden       2395         9225

[159 rows x 6 columns]

## Voter Turnout by Race and Gender
### Code by Mia Israel
CSV provided by:
    https://sos.ga.gov/index.php/Elections/voter_turn_out_by_demographics

In [6]:
# Read CSVs

file_2016= "Resources/GA_Active_Voters_2016.csv"
file_2020= "Resources/GA_Active_Voters_2020.csv"

voter_data_2016= pd.read_csv(file_2016)
voter_data_2020= pd.read_csv(file_2020)

# Drop County Code column- same as index
voter_data_2016= voter_data_2016.drop(["COUNTY CODE"], axis=1)
voter_data_2016.head()

# Drop County ID column- same as index
voter_data_2020= voter_data_2020.drop(["COUNTY ID"], axis=1)
voter_data_2020.head()

,COUNTY NAME,AI MALE VOTERS,AI FEMALE VOTERS,AI UNKNOWN VOTERS,AP MALE VOTERS,AP FEMALE VOTERS,AP UNKNOWN VOTERS,BH MALE VOTERS,BH FEMALE VOTERS,BH UNKNOWN VOTERS,...,WH MALE VOTERS,WH FEMALE VOTERS,WH UNKNOWN VOTERS,OT MALE VOTERS,OT FEMALE VOTERS,OT UNKNOWN VOTERS,UK MALE VOTERS,UK FEMALE VOTERS,UK UNKNOWN VOTERS,TOTAL VOTERS
0,APPLING,10,5,0,26,28,0,886,1115,0,...,3913,4411,4,28,49,0,389,343,3,11440
1,ATKINSON,2,7,0,2,3,0,395,509,1,...,1514,1717,1,16,17,0,119,131,3,4801
2,BACON,2,3,0,8,10,0,322,525,1,...,2482,2838,4,18,20,0,216,172,1,6726
3,BAKER,1,1,0,5,7,0,408,514,0,...,572,610,0,5,6,0,58,51,0,2258
4,BALDWIN,16,15,1,106,137,0,4553,6322,5,...,6447,7300,14,85,114,0,753,642,3,26742

In [5]:
# Rename 2016 columns 
race_data_2016= voter_data_2016.rename(columns= {"COUNTY NAME":"ga_county",\
                                                 "BLACK MALE":"black_male",\
                                                 "BLACK FEMALE": "black_female",\
                                                 "BLACK UNKNOWN":"black_unknown",\
                                                 "WHITE MALE":"white_male",\
                                                 "WHITE FEMALE":"white_female",\
                                                 "WHITE UNKNOWN":"white_unknown",\
                                                 "ASIA-PI MALE":"asia_pi_male",\
                                                 "ASIA-PI FEMALE":"asia_pi_female",\
                                                 "ASIA-PI UNKNOWN":"asia_pi_unknown",\
                                                 "HISP-LT MALE":"hisp_lat_male",\
                                                 "HISP-LT FEMALE":"hisp_lat_female",\
                                                 "HISP-LT UNKNOWN":"hisp_lat_unknown",\
                                                 "NATIVE-AM MALE":"native_am_male",\
                                                 "NATIVE-AM FEMALE":"native_am_female",\
                                                 "NATIVE-AM UNKNOWN":"native_am_unknown",\
                                                 "OTHER MALE":"other_male",\
                                                 "OTHER FEMALE":"other_female",\
                                                 "OTHER UNKNOWN":"other_unknown",\
                                                 "UNKNOWN MALE":"unknown_male",\
                                                 "UNKNOWN FEMALE":"unknown_female",\
                                                 "UNKNOWN":"unknown",\
                                                 "TOTAL VOTERS":"total_voters"})
                                                 
race_data_2016.head()

,ga_county,black_male,black_female,black_unknown,white_male,white_female,white_unknown,asia_pi_male,asia_pi_female,asia_pi_unknown,...,native_am_male,native_am_female,native_am_unknown,other_male,other_female,other_unknown,unknown_male,unknown_female,unknown,total_voters
0,APPLING,393,692,0,2693,3102,0,10,8,0,...,2,0,0,7,9,0,56,75,0,7109
1,ATKINSON,200,310,0,917,1078,0,1,0,0,...,1,3,0,3,1,0,12,15,0,2633
2,BACON,106,267,1,1592,1887,1,7,4,0,...,2,0,0,2,7,0,73,75,0,4051
3,BAKER,225,365,0,415,433,0,3,4,0,...,0,1,0,1,1,0,8,11,0,1471
4,BALDWIN,2225,4078,1,4359,5054,6,42,44,0,...,6,5,0,25,27,0,157,176,2,16311

In [6]:
# Rename 2020 columns
race_data_2020= voter_data_2020.rename(columns= {"COUNTY NAME":"ga_county",\
                                                 "AI MALE VOTERS":"native_am_male",\
                                                 "AI FEMALE VOTERS":"native_am_female",\
                                                 "AI UNKNOWN VOTERS":"native_am_unknown",\
                                                 "AP MALE VOTERS":"asia_pi_male",\
                                                 "AP FEMALE VOTERS":"asia_pi_female",\
                                                 "AP UNKNOWN VOTERS":"asia_pi_unknown",\
                                                 "BH MALE VOTERS":"black_male",\
                                                 "BH FEMALE VOTERS":"black_female",\
                                                 "BH UNKNOWN VOTERS":"black_unknown",\
                                                 "HP MALE VOTERS":"hisp_lat_male",\
                                                 "HP FEMALE VOTERS":"hisp_lat_female",\
                                                 "HP UNKNOWN VOTERS":"hisp_lat_unknown",\
                                                 "WH MALE VOTERS":"white_male",\
                                                 "WH FEMALE VOTERS":"white_female",\
                                                 "WH UNKNOWN VOTERS":"white_unknown",\
                                                 "OT MALE VOTERS":"other_male",\
                                                 "OT FEMALE VOTERS":"other_female",\
                                                 "OT UNKNOWN VOTERS":"other_unknown",\
                                                 "UK MALE VOTERS":"unknown_male",\
                                                 "UK FEMALE VOTERS":"unknown_female",\
                                                 "UK UNKNOWN VOTERS":"unknown_voters",\
                                                 "TOTAL VOTERS":"total_voters"})

race_data_2020.head()

,ga_county,native_am_male,native_am_female,native_am_unknown,asia_pi_male,asia_pi_female,asia_pi_unknown,black_male,black_female,black_unknown,...,white_male,white_female,white_unknown,other_male,other_female,other_unknown,unknown_male,unknown_female,unknown_voters,total_voters
0,APPLING,10,5,0,26,28,0,886,1115,0,...,3913,4411,4,28,49,0,389,343,3,11440
1,ATKINSON,2,7,0,2,3,0,395,509,1,...,1514,1717,1,16,17,0,119,131,3,4801
2,BACON,2,3,0,8,10,0,322,525,1,...,2482,2838,4,18,20,0,216,172,1,6726
3,BAKER,1,1,0,5,7,0,408,514,0,...,572,610,0,5,6,0,58,51,0,2258
4,BALDWIN,16,15,1,106,137,0,4553,6322,5,...,6447,7300,14,85,114,0,753,642,3,26742

## API Pull from Fulton County, GA
### Code by Richard Philipose
API available at:
    https://data.fultoncountyga.gov/Elections/Election-Results/y7fy-g8wd

In [8]:
client = Socrata("data.fultoncountyga.gov", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("y7fy-g8wd", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [9]:
results_df.head()

,race,candidate,precinct,election_day,absentee_by_mail,advance_in_person,provisional,total_votes,election_name,election_date,registered_voters,ballots_cast,voter_turnout
0,REP - President of the United States,Donald J. Trump (I),01A,11,14,1,5,31,Preference Primary – General Primary – Nonpart...,2020-06-09T00:00:00.000,3477,1570,45.1539
1,DEM - President of the United States,Michael Bennet,01A,0,0,0,1,1,Preference Primary – General Primary – Nonpart...,2020-06-09T00:00:00.000,3477,1570,45.1539
2,DEM - President of the United States,Joseph R. Biden,01A,421,400,98,125,1044,Preference Primary – General Primary – Nonpart...,2020-06-09T00:00:00.000,3477,1570,45.1539
3,DEM - President of the United States,Michael R. Bloomberg,01A,0,0,0,0,0,Preference Primary – General Primary – Nonpart...,2020-06-09T00:00:00.000,3477,1570,45.1539
4,DEM - President of the United States,Pete Buttigieg,01A,1,6,1,2,10,Preference Primary – General Primary – Nonpart...,2020-06-09T00:00:00.000,3477,1570,45.1539

In [10]:
results_df['election_date'].dtype

dtype('O')

In [11]:
results_df["election_date"]= results_df["election_date"].astype(str)

results_df["election_date"]= results_df["election_date"].str.split("T", n = 1, expand = True)

results_df

,race,candidate,precinct,election_day,absentee_by_mail,advance_in_person,provisional,total_votes,election_name,election_date,registered_voters,ballots_cast,voter_turnout
0,REP - President of the United States,Donald J. Trump (I),01A,11,14,1,5,31,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
1,DEM - President of the United States,Michael Bennet,01A,0,0,0,1,1,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
2,DEM - President of the United States,Joseph R. Biden,01A,421,400,98,125,1044,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
3,DEM - President of the United States,Michael R. Bloomberg,01A,0,0,0,0,0,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
4,DEM - President of the United States,Pete Buttigieg,01A,1,6,1,2,10,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Superior Court - Atlanta - Cox,"Thomas A. Cox, Jr. (I)",02F2,73,40,19,3,135,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1996,Superior Court - Atlanta - Dunaway,Eric Kernard Dunaway (I),02F2,74,39,19,3,135,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1997,Superior Court - Atlanta - Edwards,Belinda E. Edwards (I),02F2,74,40,19,4,137,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1998,Superior Court - Atlanta - Glanville,Ural Glanville (I),02F2,73,41,18,4,136,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1999,Superior Court - Atlanta - Krause,Rachel Krause (I),02F2,74,40,18,3,135,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293

In [12]:
iresults_df = results_df.loc[:, ["race", "candidate", "total_votes", "absentee_by_mail", "advance_in_person", "election_name", "election_date", "registered_voters", "ballots_cast", "voter_turnout" ]]
iresults_df

,race,candidate,total_votes,absentee_by_mail,advance_in_person,election_name,election_date,registered_voters,ballots_cast,voter_turnout
0,REP - President of the United States,Donald J. Trump (I),31,14,1,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
1,DEM - President of the United States,Michael Bennet,1,0,0,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
2,DEM - President of the United States,Joseph R. Biden,1044,400,98,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
3,DEM - President of the United States,Michael R. Bloomberg,0,0,0,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
4,DEM - President of the United States,Pete Buttigieg,10,6,1,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.1539
...,...,...,...,...,...,...,...,...,...,...
1995,Superior Court - Atlanta - Cox,"Thomas A. Cox, Jr. (I)",135,40,19,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1996,Superior Court - Atlanta - Dunaway,Eric Kernard Dunaway (I),135,39,19,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1997,Superior Court - Atlanta - Edwards,Belinda E. Edwards (I),137,40,19,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1998,Superior Court - Atlanta - Glanville,Ural Glanville (I),136,41,18,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293
1999,Superior Court - Atlanta - Krause,Rachel Krause (I),135,40,18,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.3293

In [13]:
iresults_df['voter_turnout'] = pd.to_numeric(iresults_df['voter_turnout'])

iresults_df.voter_turnout = iresults_df.voter_turnout.round()

iresults_df["voter_turnout"] = iresults_df["voter_turnout"].astype(str) + '%'

iresults_df

,race,candidate,total_votes,absentee_by_mail,advance_in_person,election_name,election_date,registered_voters,ballots_cast,voter_turnout
0,REP - President of the United States,Donald J. Trump (I),31,14,1,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
1,DEM - President of the United States,Michael Bennet,1,0,0,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
2,DEM - President of the United States,Joseph R. Biden,1044,400,98,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
3,DEM - President of the United States,Michael R. Bloomberg,0,0,0,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
4,DEM - President of the United States,Pete Buttigieg,10,6,1,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
...,...,...,...,...,...,...,...,...,...,...
1995,Superior Court - Atlanta - Cox,"Thomas A. Cox, Jr. (I)",135,40,19,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.0%
1996,Superior Court - Atlanta - Dunaway,Eric Kernard Dunaway (I),135,39,19,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.0%
1997,Superior Court - Atlanta - Edwards,Belinda E. Edwards (I),137,40,19,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.0%
1998,Superior Court - Atlanta - Glanville,Ural Glanville (I),136,41,18,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.0%
1999,Superior Court - Atlanta - Krause,Rachel Krause (I),135,40,18,Preference Primary – General Primary – Nonpart...,2020-06-09,823,192,23.0%

In [14]:
#Changing the Data types from "object" to "int64"
iresults_df['absentee_by_mail'] = pd.to_numeric(iresults_df['absentee_by_mail'])

iresults_df['registered_voters'] = pd.to_numeric(iresults_df['registered_voters'])

iresults_df['registered_voters'].dtype

dtype('int64')

In [15]:
#Dropping null values
clean_results_df = iresults_df.dropna(how="any")
clean_results_df.count()

race                 2000
candidate            2000
total_votes          2000
absentee_by_mail     2000
advance_in_person    2000
election_name        2000
election_date        2000
registered_voters    2000
ballots_cast         2000
voter_turnout        2000
dtype: int64

In [16]:
trump_df = clean_results_df.loc[clean_results_df["candidate"] == "Donald J. Trump (I)", :]
trump_df.head()

,race,candidate,total_votes,absentee_by_mail,advance_in_person,election_name,election_date,registered_voters,ballots_cast,voter_turnout
0,REP - President of the United States,Donald J. Trump (I),31,14,1,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
100,REP - President of the United States,Donald J. Trump (I),68,38,1,Preference Primary – General Primary – Nonpart...,2020-06-09,4097,2023,49.0%
200,REP - President of the United States,Donald J. Trump (I),3,1,0,Preference Primary – General Primary – Nonpart...,2020-06-09,1747,355,20.0%
300,REP - President of the United States,Donald J. Trump (I),3,2,0,Preference Primary – General Primary – Nonpart...,2020-06-09,670,202,30.0%
400,REP - President of the United States,Donald J. Trump (I),45,29,0,Preference Primary – General Primary – Nonpart...,2020-06-09,3505,1406,40.0%

In [17]:
biden_df = clean_results_df.loc[clean_results_df["candidate"] == "Joseph R. Biden", :]
biden_df.head()

,race,candidate,total_votes,absentee_by_mail,advance_in_person,election_name,election_date,registered_voters,ballots_cast,voter_turnout
2,DEM - President of the United States,Joseph R. Biden,1044,400,98,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
102,DEM - President of the United States,Joseph R. Biden,1256,572,84,Preference Primary – General Primary – Nonpart...,2020-06-09,4097,2023,49.0%
202,DEM - President of the United States,Joseph R. Biden,247,69,13,Preference Primary – General Primary – Nonpart...,2020-06-09,1747,355,20.0%
302,DEM - President of the United States,Joseph R. Biden,139,52,17,Preference Primary – General Primary – Nonpart...,2020-06-09,670,202,30.0%
402,DEM - President of the United States,Joseph R. Biden,853,458,73,Preference Primary – General Primary – Nonpart...,2020-06-09,3505,1406,40.0%

**----------------------------------------------------------------------------------------------------**
# Load to Postgres
### Code by Lindsey Hoffman
**----------------------------------------------------------------------------------------------------**

#### Connect to local database (Postgres)
* ga_election_db created in Postgres
* a table for each final pandas dataframe created in the database

In [18]:
#Connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/ga_election_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

#Check for tables
engine.table_names()

['election_2020_ga',
 'primary_2016_ga',
 'race_data_2016',
 'fulton_trump_2020',
 'fulton_biden_2020',
 'race_data_2020']

#### Load each dataframe into appropriate table in database

In [19]:
#Use pandas to load 2020 DataFrame into database
GA_party_df.to_sql(name='election_2020_ga', con=engine, if_exists='append', index=False)

#Use pandas to load 2016 DataFrame into database
county_counts_df.to_sql(name='primary_2016_ga', con=engine, if_exists='append', index=True)

#Use pandas to load 2016 race DataFrame into database 
race_data_2016.to_sql(name="race_data_2016", con=engine, if_exists='append', index=False)

#Use pandas to load 2020 race DataFrame into database
race_data_2020.to_sql(name="race_data_2020", con=engine, if_exists='append', index=False)

#Use pandas to load Fulton Co Trump DataFrame into database
trump_df.to_sql(name='fulton_trump_2020', con=engine, if_exists='append', index=False)

#Use pandas to load Fulton Co Biden DataFrame into database
biden_df.to_sql(name='fulton_biden_2020', con=engine, if_exists='append', index=False)

#### Confirm that data loaded into Postgres

In [9]:
pd.read_sql_query('select * from primary_2016_ga', con=engine).head()

  ga_county  republican_votes  democrat_votes  total_votes
0   APPLING              6106            3160         9266
1  ATKINSON              1868            1250         3118
2     BACON              3316             855         4171
3     BAKER               848            1755         2603
4   BALDWIN              8888           18980        27868

In [10]:
pd.read_sql_query('select * from election_2020_ga', con=engine).head()

  ga_county    republican  rep_votes   democrat  dem_votes  total_votes
0   APPLING  Donald Trump       6526  Joe Biden       1779         8305
1  ATKINSON  Donald Trump       2300  Joe Biden        825         3125
2     BACON  Donald Trump       4018  Joe Biden        625         4643
3     BAKER  Donald Trump        897  Joe Biden        652         1549
4   BALDWIN  Donald Trump       8903  Joe Biden       9140        18043

In [25]:
pd.read_sql_query("select * from race_data_2016", con=engine).head()

,ga_county,black_male,black_female,black_unknown,white_male,white_female,white_unknown,asia_pi_male,asia_pi_female,asia_pi_unknown,...,native_am_male,native_am_female,native_am_unknown,other_male,other_female,other_unknown,unknown_male,unknown_female,unknown,total_voters
0,APPLING,393,692,0,2693,3102,0,10,8,0,...,2,0,0,7,9,0,56,75,0,7109
1,ATKINSON,200,310,0,917,1078,0,1,0,0,...,1,3,0,3,1,0,12,15,0,2633
2,BACON,106,267,1,1592,1887,1,7,4,0,...,2,0,0,2,7,0,73,75,0,4051
3,BAKER,225,365,0,415,433,0,3,4,0,...,0,1,0,1,1,0,8,11,0,1471
4,BALDWIN,2225,4078,1,4359,5054,6,42,44,0,...,6,5,0,25,27,0,157,176,2,16311

In [24]:
pd.read_sql_query("select * from race_data_2020", con=engine).head()

,ga_county,black_male,black_female,black_unknown,white_male,white_female,white_unknown,asia_pi_male,asia_pi_female,asia_pi_unknown,...,native_am_male,native_am_female,native_am_unknown,other_male,other_female,other_unknown,unknown_male,unknown_female,unknown_voters,total_voters
0,APPLING,886,1115,0,3913,4411,4,26,28,0,...,10,5,0,28,49,0,389,343,3,11440
1,ATKINSON,395,509,1,1514,1717,1,2,3,0,...,2,7,0,16,17,0,119,131,3,4801
2,BACON,322,525,1,2482,2838,4,8,10,0,...,2,3,0,18,20,0,216,172,1,6726
3,BAKER,408,514,0,572,610,0,5,7,0,...,1,1,0,5,6,0,58,51,0,2258
4,BALDWIN,4553,6322,5,6447,7300,14,106,137,0,...,16,15,1,85,114,0,753,642,3,26742

In [22]:
pd.read_sql_query('select * from fulton_trump_2020', con=engine).head()

,race,candidate,total_votes,absentee_by_mail,advance_in_person,election_name,election_date,registered_voters,ballots_cast,voter_turnout
0,REP - President of the United States,Donald J. Trump (I),31,14,1,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
1,REP - President of the United States,Donald J. Trump (I),68,38,1,Preference Primary – General Primary – Nonpart...,2020-06-09,4097,2023,49.0%
2,REP - President of the United States,Donald J. Trump (I),3,1,0,Preference Primary – General Primary – Nonpart...,2020-06-09,1747,355,20.0%
3,REP - President of the United States,Donald J. Trump (I),3,2,0,Preference Primary – General Primary – Nonpart...,2020-06-09,670,202,30.0%
4,REP - President of the United States,Donald J. Trump (I),45,29,0,Preference Primary – General Primary – Nonpart...,2020-06-09,3505,1406,40.0%

In [23]:
pd.read_sql_query('select * from fulton_biden_2020', con=engine).head()

,race,candidate,total_votes,absentee_by_mail,advance_in_person,election_name,election_date,registered_voters,ballots_cast,voter_turnout
0,DEM - President of the United States,Joseph R. Biden,1044,400,98,Preference Primary – General Primary – Nonpart...,2020-06-09,3477,1570,45.0%
1,DEM - President of the United States,Joseph R. Biden,1256,572,84,Preference Primary – General Primary – Nonpart...,2020-06-09,4097,2023,49.0%
2,DEM - President of the United States,Joseph R. Biden,247,69,13,Preference Primary – General Primary – Nonpart...,2020-06-09,1747,355,20.0%
3,DEM - President of the United States,Joseph R. Biden,139,52,17,Preference Primary – General Primary – Nonpart...,2020-06-09,670,202,30.0%
4,DEM - President of the United States,Joseph R. Biden,853,458,73,Preference Primary – General Primary – Nonpart...,2020-06-09,3505,1406,40.0%

**----------------------------------------------------------------------------------------------------**
# Sample Query to Confirm Connection
### Code by Lindsey Hoffman
**----------------------------------------------------------------------------------------------------**

In [26]:
#Import query dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

#Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
session = Session(engine)

#Save database tables to alias
E2020 = Base.classes.election_2020_ga
Race2020 = Base.classes.race_data_2020

In [27]:
#Query to find county name, total votes cast and total number of eligible voters
session.query(E2020.ga_county, E2020.total_votes, Race2020.total_voters).\
    filter(E2020.ga_county == Race2020.ga_county).all()

[('APPLING', 8305, 11440),
 ('ATKINSON', 3125, 4801),
 ('BACON', 4643, 6726),
 ('BAKER', 1549, 2258),
 ('BALDWIN', 18043, 26742),
 ('BANKS', 8727, 12905),
 ('BARROW', 37257, 55694),
 ('BARTOW', 49766, 74380),
 ('BERRIEN', 7688, 11317),
 ('BIBB', 70053, 108126),
 ('BLECKLEY', 5639, 7558),
 ('BRANTLEY', 7690, 11302),
 ('BROOKS', 7050, 11170),
 ('BRYAN', 20983, 30651),
 ('BULLOCH', 29629, 44737),
 ('BURKE', 10609, 16570),
 ('BUTTS', 11680, 17195),
 ('CALHOUN', 2183, 3187),
 ('CAMDEN', 23218, 35141),
 ('CANDLER', 4402, 6328),
 ('CARROLL', 53714, 83866),
 ('CATOOSA', 32099, 45785),
 ('CHARLTON', 4522, 6562),
 ('CHATHAM', 131491, 202999),
 ('CHATTAHOOCHEE', 1547, 3943),
 ('CHATTOOGA', 9918, 14183),
 ('CHEROKEE', 142381, 190605),
 ('CLARKE', 50494, 76848),
 ('CLAY', 1427, 2053),
 ('CLAYTON', 111289, 194338),
 ('CLINCH', 2852, 4345),
 ('COBB', 387305, 537659),
 ('COFFEE', 15089, 25165),
 ('COLQUITT', 15964, 25087),
 ('COLUMBIA', 79249, 107656),
 ('COOK', 6959, 10650),
 ('COWETA', 75711, 102262),
 ('CRAWFORD', 6043, 8536),
 ('CRISP', 7973, 12560),
 ('DADE', 7327, 11682),
 ('DAWSON', 15884, 21557),
 ('DECATUR', 11538, 16726),
 ('DEKALB', 366600, 547802),
 ('DODGE', 8014, 11464),
 ('DOOLY', 4070, 5966),
 ('DOUGHERTY', 35031, 61402),
 ('DOUGLAS', 68260, 101613),
 ('EARLY', 5159, 7340),
 ('ECHOLS', 1423, 2170),
 ('EFFINGHAM', 31078, 44372),
 ('ELBERT', 9105, 12330),
 ('EMANUEL', 9435, 13844),
 ('EVANS', 4212, 6148),
 ('FANNIN', 14740, 20399),
 ('FAYETTE', 71017, 92427),
 ('FLOYD', 41131, 60749),
 ('FORSYTH', 127325, 164279),
 ('FRANKLIN', 10662, 15170),
 ('FULTON', 518384, 808742),
 ('GILMER', 16361, 22315),
 ('GLASCOCK', 1558, 2040),
 ('GLYNN', 41495, 61947),
 ('GORDON', 23789, 36431),
 ('GRADY', 10653, 15441),
 ('GREENE', 11156, 14197),
 ('GWINNETT', 408240, 582917),
 ('HABERSHAM', 20200, 28318),
 ('HALL', 89201, 128535),
 ('HANCOCK', 4144, 5835),
 ('HARALSON', 14123, 20692),
 ('HARRIS', 19776, 25690),
 ('HART', 12621, 16942),
 ('HEARD', 5340, 7772),
 ('HENRY', 121463, 172241),
 ('HOUSTON', 73766, 105587),
 ('IRWIN', 4142, 6124),
 ('JACKSON', 37139, 52010),
 ('JASPER', 7583, 10434),
 ('JEFFERSON', 7598, 11350),
 ('JENKINS', 3427, 5075),
 ('JOHNSON', 4072, 5610),
 ('JONES', 14853, 20406),
 ('LAMAR', 8945, 12872),
 ('LANIER', 3528, 5496),
 ('LAURENS', 22566, 32874),
 ('LEE', 16565, 22930),
 ('LIBERTY', 21058, 35970),
 ('LINCOLN', 4614, 6182),
 ('LONG', 5561, 9683),
 ('LOWNDES', 45808, 75535),
 ('LUMPKIN', 15289, 22412),
 ('MACON', 4640, 7079),
 ('MADISON', 14737, 20737),
 ('MARION', 3586, 4922),
 ('MCDUFFIE', 10337, 15083),
 ('MCINTOSH', 6628, 9320),
 ('MERIWETHER', 10811, 15336),
 ('MILLER', 2815, 3920),
 ('MITCHELL', 8930, 13481),
 ('MONROE', 15444, 21151),
 ('MONTGOMERY', 3939, 5467),
 ('MORGAN', 11585, 14843),
 ('MURRAY', 15245, 22340),
 ('MUSCOGEE', 79578, 132029),
 ('NEWTON', 53663, 79098),
 ('OCONEE', 24757, 30051),
 ('OGLETHORPE', 8029, 10848),
 ('PAULDING', 84229, 115297),
 ('PEACH', 12422, 18164),
 ('PICKENS', 16883, 23820),
 ('PIERCE', 8999, 12735),
 ('PIKE', 10632, 13825),
 ('POLK', 17247, 24256),
 ('PULASKI', 4022, 5712),
 ('PUTNAM', 11739, 16000),
 ('QUITMAN', 1101, 1553),
 ('RABUN', 9458, 13074),
 ('RANDOLPH', 3062, 4338),
 ('RICHMOND', 85905, 135428),
 ('ROCKDALE', 44256, 65573),
 ('SCHLEY', 2262, 2890),
 ('SCREVEN', 6577, 9610),
 ('SEMINOLE', 3865, 5937),
 ('SPALDING', 29841, 46088),
 ('STEPHENS', 11753, 18078),
 ('STEWART', 1983, 2909),
 ('SUMTER', 12050, 18033),
 ('TALBOT', 3506, 4567),
 ('TALIAFERRO', 921, 1246),
 ('TATTNALL', 8114, 12216),
 ('TAYLOR', 3805, 5405),
 ('TELFAIR', 4312, 6076),
 ('TERRELL', 4380, 6625),
 ('THOMAS', 21662, 30218),
 ('TIFT', 16106, 24551),
 ('TOOMBS', 10811, 16227),
 ('TOWNS', 7934, 10189),
 ('TREUTLEN', 3053, 4248),
 ('TROUP', 29721, 43169),
 ('TURNER', 3759, 5604),
 ('TWIGGS', 4414, 6308),
 ('UNION', 15452, 19235),
 ('UPSON', 12809, 18187),
 ('WALKER', 28943, 43050),
 ('WALTON', 50524, 70129),
 ('WARE', 14076, 20580),
 ('WARREN', 2635, 3789),
 ('WASHINGTON', 9393, 12994),
 ('WAYNE', 12674, 18164),
 ('WEBSTER', 1387, 1713),
 ('WHEELER', 2272, 3169),
 ('WHITE', 14633, 20630),
 ('WHITFIELD', 36306, 54779),
 ('WILCOX', 3265, 4562),
 ('WILKES', 4983, 6836),
 ('WILKINSON', 4739, 6484),
 ('WORTH', 9225, 13847)]